{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}
{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title : (ea is defined ? ea.dashboardTitle : '') }}{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}

    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    {% if page_title %}
                        {% if ea is defined %}
                            <a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                                {{ page_title|raw }}
                            </a>
                        {% else %}
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                {{ page_title|raw }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>


        <section class="content">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{ form_start(registrationForm) }}
                {% if form_errors(registrationForm.email) %}
                    <p class="text-danger">
                        {{ form_errors(registrationForm.email) }}
                    </p>
                {% endif %}
                <div class="form-group field-text">
                    <label for="username" class="sr-only form-control-label required">Email</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-envelope"></i>
                        {{ form_widget(registrationForm.email) }}
                    </div>
                </div>

                {% if form_errors(registrationForm.name) %}
                    <p class="text-danger">
                        {{ form_errors(registrationForm.name) }}
                    </p>
                {% endif %}
                <div class="form-group field-text">
                    <label for="name" class="sr-only form-control-label required">Full Name</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-user"></i>
                        {{ form_widget(registrationForm.name) }}
                    </div>
                </div>

                {% if form_errors(registrationForm.username) %}
                    <p class="text-danger">
                        {{ form_errors(registrationForm.username) }}
                    </p>
                {% endif %}
                <div class="form-group field-text">
                    <label for="username" class="sr-only form-control-label required">Username</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-user"></i>
                        {{ form_widget(registrationForm.username) }}
                    </div>
                </div>

                {% if form_errors(registrationForm.plainPassword.password) %}
                    <p class="text-danger">
                        {{ form_errors(registrationForm.plainPassword.password) }}
                    </p>
                {% endif %}
                <div class="form-group field-password">
                    <label for="password" class="sr-only form-control-label required">Password</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-lock"></i>
                        {{ form_widget(registrationForm.plainPassword.password) }}
                    </div>
                </div>

                {% if form_errors(registrationForm.plainPassword.password_confirmation) %}
                    <p class="text-danger">
                        {{ form_errors(registrationForm.plainPassword.password_confirmation) }}
                    </p>
                {% endif %}
                <div class="form-group field-password">
                    <label for="password" class="sr-only form-control-label required">Repeat Password</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-lock"></i>
                        {{ form_widget(registrationForm.plainPassword.password_confirmation) }}
                    </div>
                </div>

                {{ form_widget(registrationForm.agreeTerms) }}
                <label for="agree-term" class="form-check-label required">Agree Term</label>

                <div class="form-group field-button">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Register</button>
                </div>
            {{ form_end(registrationForm) }}
        </section>
    </div>
{% endblock %}
